<template>
  <v-tooltip bottom>
      <template v-slot:activator="{ on }">
          <v-btn  href="https://forms.gle/jsD3qqVNn2QHBSLs6" target="_blank" x-small v-on="on" fab  color="#b12526">
            <v-icon light>mdi-message-alert</v-icon>
          </v-btn>
      </template>
      <span>Feedback</span>
    </v-tooltip>
</template>
