 /* eslint-disable */

 <template>
  <svg
    viewBox="0 0 428.408 428.408"
    class="icon"
    :class="styleClasses"
  >
  <g>
    <circle cx="68.702" cy="40.751" r="27.167"/>
    <path d="M68.702,187.037c-15.004,0.009-27.16,12.179-27.152,27.183c0.009,14.992,12.16,27.143,27.152,27.152c15.004,0,27.167-12.163,27.167-27.167C95.869,199.2,83.706,187.037,68.702,187.037z"/>
    <circle cx="68.702" cy="387.657" r="27.167"/>
    <path d="M334.629,0H172.669v94.041h161.959V0z M198.792,26.122h60.082c4.328,0,7.837,3.509,7.837,7.837c0,4.328-3.509,7.837-7.837,7.837h-60.082c-4.328,0-7.837-3.509-7.837-7.837C190.955,29.631,194.464,26.122,198.792,26.122zM311.118,73.143H198.792c-4.328,0-7.837-3.509-7.837-7.837c0-4.328,3.509-7.837,7.837-7.837h112.327c4.328,0,7.837,3.509,7.837,7.837C318.955,69.634,315.447,73.143,311.118,73.143z"/>
    <path d="M172.669,167.184v94.041h214.204v-94.041H172.669z M198.792,193.306h60.082c4.328,0,7.837,3.509,7.837,7.837c0,4.328-3.509,7.837-7.837,7.837h-60.082c-4.328,0-7.837-3.509-7.837-7.837C190.955,196.815,194.464,193.306,198.792,193.306zM311.118,240.327H198.792c-4.328,0-7.837-3.509-7.837-7.837s3.509-7.837,7.837-7.837h112.327c4.328,0,7.837,3.509,7.837,7.837S315.447,240.327,311.118,240.327z"/>
    <path d="M172.669,428.408h161.959v-94.041H172.669V428.408z M198.792,360.49h60.082c4.328,0,7.837,3.509,7.837,7.837s-3.509,7.837-7.837,7.837h-60.082c-4.328,0-7.837-3.509-7.837-7.837S194.464,360.49,198.792,360.49z M198.792,391.837h112.327c4.328,0,7.837,3.509,7.837,7.837s-3.509,7.837-7.837,7.837H198.792c-4.328,0-7.837-3.509-7.837-7.837S194.464,391.837,198.792,391.837z"/>
    <polygon points="62.955,177.633 73.404,177.633 73.404,75.233 62.955,75.755"/>
    <rect x="62.955" y="250.775" width="10.449" height="104.49"/>
  </g>
  </svg>
</template>

<script>
export default {
  name: 'ArchiveIcon',
  props: {
    size: String,
    color: String
  },
  computed: {
    styleClasses () {
      return [this.size, this.color].map(val => val && `is-${val}`)
    }
  }
}
</script>

<style>
/* default */
.icon {
  width: 1.2em;
  height: 1.2em;
  fill: black;
}

/* sizes */
.icon.is-x-large {
  width: 3em;
  height: 3em;
}
.icon.is-large {
  width: 2.5em;
  height: 2.5em;
}
.icon.is-medium {
  width: 2em;
  height: 2em;
}
.icon.is-normal {
  width: 1.6em;
  height: 1.6em;
}
.icon.is-small {
  width: 1.2em;
  height: 1.2m;
}
.icon.is-tiny {
  width: 0.8em;
  height: 0.8em;
}

/* colors */
.icon.is-primary,
.icon.is-blue {
  fill: #2196F3
}
.icon.is-success,
.icon.is-green {
  fill: #4CAF50
}
.icon.is-active,
.icon.is-red  {
  fill: #B02425
}

.icon.is-scroll,
.icon.is-white  {
  fill: #fff
}

.icon.is-disabled  {
  fill: rgba(0, 0, 0, 0.5)
}
</style>
